<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video-Streaming-in-chunks-size</title>
</head>
<body style="margin: 0; padding: 0;display: flex; justify-content: center; align-items: center; min-height: 100vh; background-color: grey;" >

    <div>
        <h1 style="text-align: center; color: white; font-family: sans-serif;">Video Streaming and Buffering in Chunk Size</h1>
        <div style="text-align: center;">
            <video id="VideoPlayer" width="1000" controls>
                <source src="http://localhost:4000/api/v1/streaming" type="video/mp4">
            </video>
        </div>

    </div>
</body>
</html>
